@import "../mixin";

/* card */
.card {
	@include flex($fd: column); border: 1px solid rgba(#808080, .4); background: var(--white); border-radius: 1.2rem 1.2rem 0 0;transition: 0.2s;	
	&-header { color: var(--white); font-size: 1.9rem; font-weight: 700; text-align: center; padding: 1.6rem 1rem; border-radius: 1.2rem 1.2rem 0 0; margin: -1px;}
	&-body { padding: 4rem 3rem; 
		strong { color: var(--gray-90);}
	}
	&-item ~ &-item { border-top: 1px dashed var(--border); padding-top: 2rem; margin-top: 2rem; }
			
	$bgs: ("-1": #102c74, "-2": #1b7eb4, "-3": #1d4ca8);
	@each $name, $bg in $bgs {
		&#{$name} {
			.card-header { background: $bg; }
			.list-order > li i { background: $bg; }
		}
	}
}

	/* .title {
		font-size: 2.4rem; font-weight: 600;		

		+ .cont { margin-top: 2rem; }
	}
	.info {
		color: var(--gray7); @include flex(1rem); margin-top: auto;

		li { @include flex(.5rem, center); 
			~ li{ @include bullet(.5rem, .5rem, var(--border), 50%, 50%); }
		}
	}
	.thumb { overflow: hidden; background: #000; height: 18rem; 
		img { transition: 0.3s; width: 100%; height: 100%; object-fit: cover; }
	} 
	.cont { @include ellipsis-multi(5); }
	a:hover { text-decoration: none; background: var(--gray-5);
		.title { text-decoration: underline; }	
		img { opacity:.7; transform:scale(1.1);}
	}
	*/
	/* 썸네일 비례적으로 줄어들게
	.thumb { overflow: hidden; background: #000; height: 0; padding-bottom: 60%; position: relative; 
		img { transition: 0.3s; width: 100%; height: 100%; object-fit: cover; @include pos(lt, 0, 0);}
	} */
	


@include media($mobile) {
	.card { grid-template-columns: 1fr; 		
		.item { padding: 2rem; }
		&-body { padding: 2rem 1.5rem; } 
	}
}


