@import "../mixin";

/* table */
.data, //기존 게시물에 남아있는 태그 
.data_table, //기존 게시물에 남아있는 태그 
.table {
	table { border-top: 2px solid var(--gray-90); border-bottom: 1.1px solid var(--gray-30); margin-top: 0.8rem;
		td,th {
			border-top: 1px solid var(--gray-30); padding: 1.5rem 1rem; word-break: keep-all; text-align: center; line-height: 1.5;
			&.txt_left { padding-left: 2rem; text-align: left;}
		}
		tr:first-of-type {
			th, td { border-top: 0; }
		}
		thead {
			th { border-bottom: 1px solid var(--gray-40); background: var(--gray-5); padding: 1.5rem 1rem; }
		}
		td { background: var(--white); }
		tfoot { border-top: 1px solid var(--gray-40); }
		tbody th, tfoot th { padding-left: .5rem; padding-right: .5rem; }
		th {word-break:break-all;}
		+ * { margin-top: 0.8rem;}
	}
	&.narrow {
		th, td { padding: .8rem .2rem; font-size: 1.5rem; word-break: break-all;}
	}
	&.in-border {
		th, td {
			border-left: 1px solid var(--gray-30); border-right: 1px solid var(--gray-30); 

			&:first-child, &:first-child { border-left: 0; }
			&:last-child, &:last-child { border-right: 0; }
		}
	}
	&.horizontal {
		tbody th, td { text-align: left; padding-left: 2rem; }
	}
	.unit { display: block; text-align: right; font-size: .933em; margin: 0 0 .5rem }
}
[class*='heading-'] + .table { position: relative;
	.unit { position: absolute; right: 0; top: 0; transform: translateY(-100%); }
}

/* row-line */
.row-line {
	border-top: 2px solid var(--gray-90); border-bottom: 1px solid var(--gray-30);

	>li {
		display: flex; border-top: 1px solid var(--gray-30); word-break: keep-all; padding: 1.5rem 2rem; gap: 1rem;
		&:first-of-type { border-top-color: transparent; }
		.label { width: 20%; min-width: 10rem; }
		.label-cont { flex: 1; min-width: 1%; }

	}
	@for $i from 2 through 3 {	
		&.col#{$i} { display: grid; grid-template-columns: repeat(#{$i}, 1fr); 
			>li:nth-of-type(-n+#{$i}) { border-top-color: transparent; }
		}
	}	
}

@include media($pad) {
	.row-line {
		> li { padding-left: 1rem; padding-right: 1rem; }
		@for $i from 2 through 3 {	
			&.col#{$i} { grid-template-columns: 1fr; 
				>li:nth-of-type(-n+#{$i}) { border-top-color: var(--gray-30); }
			}
		}
	}
}

@include media($mobile) {
	.data,
	.data_table,
	.table_scroll,
	.responsive  { overflow-x: auto; padding-top: 4rem; background: url('#{$url}/layout/scroll_hand.gif') right top no-repeat;
		table { min-width: 700px; }
	}

	.row-line {
		 > li { flex-direction: column;}
	}
}